{% assign translatedHome=translatedPages      | where: 'ref','index'     | first %}
{% assign translatedRegister=translatedPages  | where: 'ref','register'  | first %}
{% assign translatedAbout=translatedPages     | where: 'ref','about'     | first %}
{% assign translatedProject=translatedPages   | where: 'ref','projects'  | first %}
{% assign translatedResources=translatedPages | where: 'ref','resources' | first %}

<header class="cda-header text-white">
  <div class="d-flex align-items-baseline">
    <div class="pr-3 flex-fill">
      <h1 class="h1 m-0">
        <a href="{{translatedHome.url | relative_url}}">Coderdojo Athlone</a>
      </h1>
    </div>

    <div class="">
      {% include header-link.html page=translatedRegister %}
    </div>
  </div>
  <nav class="d-flex align-items-baseline mt-2">
    {% include header-link.html page=translatedAbout %}
    {% include header-link.html page=translatedProject %}
    {% include header-link.html page=translatedResources %}
  </nav>
</header>
