{% if include.title %}
<h3 class="h3">{{include.title}}</h3>
{% endif %}

{% assign postsByMonth=include.list | group_by_exp:"post", "post.date | date: '%Y %m'"%}

{% for postsOfMonth in postsByMonth %}
<ul class="cda-article-list list-unstyled">

  {% assign firstPostOfMonth=postsOfMonth.items | first %}
  <li><h3>{{firstPostOfMonth.date | date: "%B %Y"}}</h3></li>

  {% for post in postsOfMonth.items %}
  <li class="my-2 py-2 border-bottom border-secondary">
    <strong><a href="{{post.url | relative_url}}">{{post.title}}</a></strong>
    <div class="small text-secondary">
      {% if post.author %}Authored by: {{post.author}} - {% endif %}{{post.date | date: "%Y-%m-%d"}}
    </div>
    {% if post.description %}
    <div class="small">{{post.description}}</div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
