{% assign sectionRefs=include.sections | split: ',' %}
{% assign translatedPages=site.pages | where:'lang', page.lang %}

<div class="cda-split50">
  {% for ref in sectionRefs %}
  {% assign section=translatedPages | where: 'ref',ref | first %}
  <div class="d-flex py-3 my-4 align-items-center cda-row flex-wrap cda-shadow-secondary">
    <div class="col-12 col-sm-6 text-center mb-4 mb-sm-0">
      {{section.content | markdownify}}

      {% if section.readMore %}
      <div>
        {% assign readMorePage=translatedPages | where: 'ref',section.readMore | first %}
        <a class="" href="{{readMorePage.url | relative_url}}">Read more</a>
      </div>
      {% endif %}
    </div>

    <div class="col-12 col-sm-6">
      {% if section.readMore %}
      <a href="{{readMorePage.url | relative_url}}">
        <img class="img-fluid" src="{{section.caption | relative_url}}" alt="{{ref}}">
      </a>
      {% else %}
      <img class="img-fluid" src="{{section.caption | relative_url}}" alt="{{ref}}">
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
