@import "colors";

.cda-header {
  h1 {
    a,
    a:hover {
      color: $color_light;
      text-decoration: none;
    }
  }

  nav a {
    padding-left: 1rem;

    &:first-of-type {
      padding-left: 0;
    }
  }
}
