@import "colors";

.cda-header {
  h1 {
    a,
    a:hover {
      color: $color_light;
      text-decoration: none;
    }
  }

  nav a,
  nav span {
    padding-left: 1rem;

    &:first-child {
      padding-left: 0;
    }

    &.cda-active {
      color: white;
      text-decoration: underline;
    }
  }
}
