@import "colors";
@import "variables";
@import "header";
@import "split-50";

.cda {
  &-container {
    &-body {
      background-color: darken($color_dark, 10);
      color: $color_light;
    }

    &-content {
      background-color: darken($color_dark, 5);
    }

    @media (min-width: $screen-lg) {

      &-content {
        box-shadow: inset -2px 2px 3px 1px rgba(0, 0, 0, .5);
        border-radius: 5px;
      }
    }
  }

  &-shadow-secondary {
    box-shadow: 0 0 5px 1px rgba(153, 204, 204, 0.75);
  }
}
