---
layout:     default
lang:       en
ref:        class-web
title:      Web classes
parent:     about
breadcrumb: true
permalink:  /en/about/web-classes
---

{% assign allPages=site.posts | concat: site.pages %}
{% assign translatedPages=allPages | where: 'lang', page.lang %}

{% assign info=translatedPages          | where: 'ref',    'partial-class-web' | first %}
{% assign projectPosts=translatedPages  | where: 'parent', 'projects' %}
{% assign resourcePosts=translatedPages | where: 'parent', 'resources' %}

<div class="row">
  <div class="col">
    {{info.content | markdownify}}
  </div>
  <div class="col-12 col-sm-4 mt-3 mt-sm-0">
    <img class="img-fluid" src="{{info.caption | relative_url}}" alt="{{info.ref}}">
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 mt-4">{% include post-list.html title='Resources' list=resourcePosts %}</div>
  <div class="col-12 col-md-6 mt-4">{% include post-list.html title='Projects'  list=projectPosts %}</div>
</div>
