---
layout:     default
lang:       en
ref:        class-web
title:      Web classes
keywords:   website, webapp, react, angular, scss, sass, mobile, responsive
parent:     about
breadcrumb: true
permalink:  /en/about/web-classes
---

{% assign allPages=site.posts | concat: site.pages %}
{% assign translatedPages=allPages | where: 'lang', page.lang %}

{% assign info=translatedPages          | where: 'ref',    'partial-class-web' | first %}
{% assign projectPosts=translatedPages  | where: 'parent', 'web-projects' %}
{% assign resourcePosts=translatedPages | where: 'parent', 'web-resources' %}

<div class="row">
  <div class="col">
    {{info.content | markdownify}}

    <p>
      HTML and CSS are the languages used to scaffold and style web pages.
      JavaScript is used to add interactivity and is the source of power of modern web apps.
    </p>
    <p>
      We recommend to start learning the basics of HTML, then how to apply styling with CSS and finally add JavaScript
      logic.
    </p>
    <ul>
      <li>
        <a href="https://www.codecademy.com/learn/learn-html" target="_blank">Basics of HTML - Codecademy</a></li>
      <li>
        <a href="https://www.codecademy.com/learn/learn-css" target="_blank">
          Learn how to style and visually organize HTML with CSS - Codecademy
        </a>
      </li>
      <li>
        <a href="https://www.codecademy.com/learn/introduction-to-javascript" target="_blank">
          Learn the JavaScript fundamentals - Codecademy
        </a>
      </li>
    </ul>
    <p>
      The courses above will allow you to learn the basics in a self contained environment.
      Once you feel ready to jump on your first project, all you need is a web browser (we recommend Chrome / Chromium) and a text editor like:
      <a href="https://atom.io/" target="_blank">Atom</a> /
      <a href="https://www.sublimetext.com/" target="_blank">Sublime Text 3</a> /
      <a href="https://www.jetbrains.com/webstorm/" target="_blank">Webstorm</a> / 
      <a href="https://www.notepad-plus-plus.org/" target="_blank">Notepad++</a>
      <a href="https://www.brackets.io/" target="_blank">Brackets</a>
    </p>
  </div>
  <div class="col-12 col-sm-4 mt-3 mt-sm-0">
    <img class="img-fluid" src="{{info.caption | relative_url}}" alt="{{info.ref}}">
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 mt-4">{% include article-list.html title='Resources' list=resourcePosts %}</div>
  <div class="col-12 col-md-6 mt-4">{% include article-list.html title='Projects'  list=projectPosts %}</div>
</div>
